.sideList {
	display: flex;
	align-items: center;
	overflow: hidden;
	gap: 20px;
	position: relative;
	font-size: 20px;
	font-weight: 700;
	max-width: 100%;
	flex-wrap: wrap;
}

.listItem {
	cursor: pointer;
	padding: 10px 20px;
	transition: color 0.3s ease;
	user-select: none;
}

.highlight {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	border-radius: 20px;
	transition: background-color 0.3s ease;
	opacity: 0.5;
}